*
{
	margin: 0;
}



.bg
{
	background-image: url("pic/space.jpg");
	height: 695px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border
{
	position: absolute;
	border: 1px solid black;
	border-radius: 20px;
	padding: 140px;
	width: 50%;
	height: 70px;
	left: 15%;
	bottom: 25%;
	background-color: #85e0e0;
	opacity: 66%;
}

.left
{
	position: absolute;
	border: 1px solid;
	border-radius: 50%;
	padding: 10%;
	left: 17%;
	bottom: 33%;
	background-image: url(pic/snake.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.middle
{
	position: absolute;
	border: 1px solid;
	border-radius: 50%;
	padding: 10%;
	left: 40%;
	bottom: 33%;
	background-image: url(pic/dinosaur.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.right
{
	position: absolute;
	border: 1px solid;
	border-radius: 50%;
	padding: 10%;
	left: 63%;
	bottom: 33%;
	background-color: white;
	background-image: url(pic/Pacman.png);
	background-repeat: no-repeat;
	background-size: cover;
}

a:hover
{
	padding: 11%;
}

.snake
{
	position: absolute;
	font-size: 25px;
	left: 22%;
	bottom: 27%;
	color: #8533ff;
}

.dino
{
	position: absolute;
	font-size: 25px;
	left: 44%;
	bottom: 27%;
	color: #8533ff;
}

.pacman
{
	position: absolute;
	font-size: 25px;
	left: 70%;
	bottom: 27%;
	color: #8533ff;
}

.game
{
	position: absolute;
	font-size: 70px;
	left: 32%;
	bottom: 4%;
	color: #00ffff;
	border: 1px solid;
	border-radius: 20px;
	padding: 20px;
	background-image: url(pic/color.gif);
}

.game1
{
	position: absolute;
	font-size: 70px;
	left: 32%;
	top: 1%;
	color: #00ffff;
	border: 1px solid;
	border-radius: 20px;
	padding: 20px;
	background-image: url(pic/color.gif);
}